.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 648px;
  margin: 20px 235px 40px 208px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 135px;
    margin-left: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }
}