.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 479px;
  margin: 43px 212px 60px 274px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 112px;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 2px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}